.toolbar, .toolbar__header, .toolbar__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toolbar {
    height: fit-content;
    padding: 20px;
}

.toolbar__header {
    width: 30%;
}

.toolbar__buttons {
    gap: 10px;
    width: 100%;
}

.toolbar__buttons > button {
    width: 70%;
}

.toolbar__header__main {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .toolbar, .toolbar__header, .toolbar__buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .toolbar__header {
        justify-content: center;
        gap: 20px;
    }

    .toolbar__buttons {
        justify-content: flex-end   ;
    }

    .toolbar__buttons {
        width: 70%;
    }
    
    .toolbar__buttons > button {
        width: 20%;
    }
}